* {
  font-family: "Alike";
}
body {
  background-color: #f1efef;
}

.logo_img {
  width: 99px;
}
.btn_stil {
  font-size: 15px;
  color: #ffffff;
}

.bgst2 {
  background-color: #a8a196;
  border-color: #f0de36 !important;
}
.img_slider {
  width: 100%;
  height: 35rem;
}
@media (max-width: 575px) {
  .img_slider {
    width: 100%;
    height: 17rem;
  }
  #footer-style {
    font-size: 15px;
  }
}

#footer-style {
  background-color: #085e7d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
}

/* ................animated animasyon......... */

/* Normal durumda animasyonu etkinleştirmek için sınıfa "animated" ekledik. */
.buton_animated {
  animation-duration: 1s; /* Animasyon süresi */
  animation-fill-mode: both; /* Animasyonun başlangıç ve bitiş değerlerini sakla */
}

/* Hover durumunda animasyonu uygula */
.buton_animated:hover {
  animation-name: jello; /* Kullanmak istediğiniz animasyonun adı */
}

/* ................icon animasyon......... */

/* CSS */
/* Hover üzerine gelindiğinde animasyonu uygula */
.icon_animated:hover {
  animation-duration: 1s; /* Animasyon süresi */
  animation-fill-mode: both; /* Animasyonun başlangıç ve bitiş değerlerini sakla */
  animation-name: bounce; /* Kullanmak istediğiniz animasyonun adı */
}

.icon_animated {
  display: inline-block;
  margin-right: 3px; /* İconlar arasında 10px sağ boşluk bırakır */
}

/* ................logo animasyon......... */

/* Normal durumda animasyonu etkinleştirmek için sınıfa "animated" ekledik. */
.logo_animated {
  animation-duration: 1s; /* Animasyon süresi */
  animation-fill-mode: both; /* Animasyonun başlangıç ve bitiş değerlerini sakla */
}

/* Hover durumunda animasyonu uygula */
.logo_animated:hover {
  animation-name: flip; /* Kullanmak istediğiniz animasyonun adı */
}
